version: '2'
services:
#
# Maria DB (MySql server)
#
  mariadb:
    build: ./provision/mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: skringo
      MYSQL_USER: skringo
      MYSQL_PASSWORD: skringo
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - './logs/mysql:/var/log/mariadb'
#      
# Http server      
#
  nginx:
    build: ./provision/nginx
    restart: always
    links:
      - php
    volumes:
      - './:/app'
      - './provision/nginx/etc/conf.d/yii2.basic.template:/etc/nginx/conf.d/site.template'
      - './logs/nginx:/var/log/nginx'
    environment:
      - NGINX_VERSION=1.13.12-1~stretch
      - NGINX_HOST=develop.loc
      - NGINX_PORT=80
    ports:
      - '80:80'
    command: 'sh -c "envsubst \"`env | awk -F = ''{printf \" $$%s\", $$1}''`\" < /etc/nginx/conf.d/site.template > /etc/nginx/conf.d/default.conf && nginx -g ''daemon off;''"'
#    
# PHP-FPM server    
#
  php:
    build: ./provision/php/7.1
    restart: always
    links:
      - mariadb
      - redis
    ports:
      - '9001:9000'
    expose:
      - '9000'
      - '9001'
    environment:
      - PHP_IDE_CONFIG=serverName=develop.loc
    volumes:
      - './:/app'
      - './logs/php7:/var/log/php7'
      - './logs/php7/xdebug:/tmp/xdebug_log'
#
# Key-Value storage
#
  redis:
    build: ./provision/redis
    restart: always
    environment:
      - REDIS_VERSION=4.0.9
    ports:
      - '6379:6379'
    expose:
      - '6379'
#
# Postgre SQL server
#
#  postgres:
#    build: provision/postgres/11
#    environment:
#      - POSTGRES_USER=postgres
#      - POSTGRES_PASSWORD=postgres
#    ports:
#      - '5432:5432'
#    volumes:
#      - './:/app'
#

# Search engine with json rest api
#
#  elasticsearch:
#    build: provision/elasticsearch
#    restart: always
#    ports:
#      - '9202:9200'
#    expose:
#      - '9200'
#    environment:
#      - ELASTICSEARCH_VERSION=5.6.9
#      - JAVA_ALPINE_VERSION=8.151.12-r0
#      - JAVA_VERSION=8u151
#      - LANG=C.UTF-8
#      - cluster.name=docker-cluster
#      - bootstrap.memory_lock=true
#      - ES_JAVA_OPTS=-Xms1g -Xmx1g
#    ulimits:
#      memlock:
#        soft: -1
#        hard: -1
#
# Visualize your Elasticsearch
#
#  kibana:
#    build: provision/kibana
#    links:
#      - elasticsearch
#    ports:
#      - '5601:5601'
#
# Network settings
#
networks:
  default:
    external:
      name: nginx-proxy
